
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
 
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

.home a{
    color: #3dcb12;
}

.home a:hover{
    color: #e8ec0f;
}

#mainContainer {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

a {
    color: #e8ec0f;

}

p, span {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-color: #ccb71a;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: #555;
    transform: scale(1.1);
    color: #333;
}
button::after{
    transform: scale(0.9);
}

.info {
    background-color: #e7f5ff;
}

.highlight {
    color: #ccb71a;
    background-color: #ffeeba;
    border-color: #ffbf00;
}

body {
    background-color: #293949;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: #ccb71a;
}

h3:hover {
    color: #ccb71a;;
}

.special button:hover {
    background: #000;
    color: red;
}

button#actionButton:hover{
    background: #ccb71a;
    color: #007bff;

}

.sezCommenti{
    background: url("") repeat;
}

.orari {
    padding: 110px;
    text-align: left;    
}

.contatti{
    padding: 110px;
    text-align: left;
}

.contatti a {
    color: #e8ec0f;
}

.sezioneFinale{
    background-color: #e1e0e0;
}
